@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Corinthia:wght@700&family=Merienda:wght@400;700&family=Open+Sans&family=Patua+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Corinthia:wght@700&family=Merienda:wght@400;700&family=Open+Sans&family=Patua+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Corinthia:wght@700&family=Merienda:wght@400;700&family=Open+Sans&family=Oswald&family=Patua+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Corinthia:wght@700&family=Dancing+Script:wght@600&family=Merienda:wght@400;700&family=Open+Sans&family=Oswald&family=Patua+One&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Bungee+Shade&family=Corinthia:wght@700&family=Dancing+Script:wght@600&family=Merienda:wght@400;700&family=Open+Sans&family=Oswald&family=Patua+One&family=Roboto:wght@100;400&family=Rubik+Mono+One&display=swap');

*{
    padding: 0;
    margin: 0;

}

.menu {
    align-items: center;
    justify-content: justify;
    display: flex;
    height: 100px;
    z-index: 2;
    text-decoration: none;
    list-style: none;
    margin-left: 20%;
}

.menu ul {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1190px;
    height: 70px;
    z-index: 2;
    text-decoration: none;
    list-style: none;
    
}

.menu ul li{
    align-items: center;
    justify-content: justify;
    display: flex;
    height: 70px;
    z-index: 2;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.textoTopo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 4.5%;
    font-size: 33px;
    width: 40%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-bottom: 5.5%;
    text-shadow: 1px 1px 12px rgba(78, 78, 78, 0.493);
}

.faixa1{
    width: 100%;
    height: 550px;;
    display: flex;
    background-image: url(../img/fundoaviao.png);
    background-size: cover;

}

.faixa2 {
    width: 100%;
    height: 600px;;
    display: flex;
    background-size: cover;


}

.cinzaleft img{
    width: 23%;
    min-height: 100%;
    display: flex;
}

.apoioOnu img{
    width: 50%;
    display: absolute;
    justify-content: flex-start;
    float: left;


}
.apoioOnu{
    width: 50%;
    height: 470px;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 4.5%;
    border: 1px solid black;
}

.textoeduca {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 3.5%;
    font-size: 28px;
    width: 47%;
    margin-top: 5.8%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding-top: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
    height: 415px;
    text-shadow: 1px 1px 8px rgba(41, 41, 41, 0.815);
}

.faixa3 {
    width: 100%;
    height: 600px;;
    display: flex;
    background-size: cover;
    background-image: url(../img/ongfaixa.png);
}

.imgfaixa3 img{
    width: 45%;
    height: 65%;
    position: absolute;
    right: 0px;
    margin-right: 3.5%;
    margin-top: 3.5%;
    border: 1px solid black;
    display: flex;
}

.faixa3 p{
    width: 44%;
    height: 60%;
    display: flex;
    text-align: justify;
    justify-content: center;
    margin-top: 6%;
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.507);
    padding-bottom: 6.7%;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-right: 1.5%;
    text-shadow: 1px 1px 8px rgba(41, 41, 41, 0.384);
    border-radius: 10px;
}

.footer{
    width: 100%;
    height: 52px;
    background-color: rgba(2, 2, 2, 0.973);
    color: white;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 1%;
    display: flex;
}